<h4>All Items of menu category</h4>

<!-- <items-component menuItems="menuItemsCtrl.menuItems"></items-component> -->

<ul>
    <li ng-repeat="item in menuItemsCtrl.menuItems">
       <div><b>Item Name:</b> {{item.name}}</div>
       <div><b>Item ID:</b> {{item.id}}</div>
       <div><b>Description:</b> {{item.description}}</div>
       <div><b>Price small:</b> {{item.price_small}}</div>
       <div><b>Price Large:</b> {{item.price_large}}</div>
       <div><b>Small portion name:</b> {{item.small_portion_name}}</div>
       <div><b>Large portion name:</b> {{item.large_portion_name}}</div>
    </br>
    </li>
  </ul>
